<%= form_for @timestamp, :html => { :class => 'form-inline' } do |f| %>


  <div class="form-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:project_id, Project.all, :id, :name_with_proj, prompt: true) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Difficulty Level', :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:diff_level, Timestamp::DIFF_LEVELS, prompt: true) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Duration (minutes)', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :duration, :class => 'form-control' %>
    </div>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary inline' %>
  <br />
  <div class="form-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :cols => "70", :rows => "4", :class => 'form-control' %>
    </div>
  </div>
<% end %>
