<%- model_class = Timestamp -%>

<%= form_for @timestamp, :html => { :class => 'form-inline timestamp' } do |f| %>

  <% if @timestamp.errors.any? %>
    <div class="errorExplanation">
      <h2><%= pluralize(@timestamp.errors.count, "error") %> prohibited this timestamp from being saved:</h2>

      <ul>
      <% @timestamp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date, :class => 'control-label' do %>
      <%= model_class.human_attribute_name(:date) %>
      <abbr title="required">*</abbr>
    <% end %>
    <div class="controls">
      <%= f.text_field :date, size: 14, autofocus: true %>
    </div>
  </div>
  <div class="form-group" style="width: 435px;">
    <%= f.label :activity_id, :class => 'control-label' do %>
      <%= model_class.human_attribute_name(:activity_id) %>
      <abbr title="required">*</abbr>
    <% end %>
    <div class="controls">
      <%= select_tag 'timestmap_activity_id', projects_with_grouped_activities(@timestamp.activity_id),
          name: 'timestamp[activity_id]', :'data-placeholder' => t('.activity_placeholder'), :'data-your-id' => current_user.id  %>
    </div>
  </div>
  <div class="form-group">
    <label></label>
    <div class="controls">
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_notes">
        <%= t('.modal.button_text') %>
      </button>
    </div>
  </div>

  <br />
  <div class="form-group" style="width: 250px;">
    <%= f.label :stage_id, :class => 'control-label' do %>
      <%= model_class.human_attribute_name(:stage_id) %>
      <abbr title="required">*</abbr>
    <% end %>
    <div class="controls">
      <%= f.collection_select(:stage_id, Stage.sorted, :id, :name, {selected: @timestamp.stage_id,include_blank: true}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :duration, :class => 'control-label' do %>
      <%= model_class.human_attribute_name(:duration) %>
      <abbr title="required">*</abbr>
    <% end %>
    <div class="controls">
      <%= f.number_field :duration, :class => 'form-control', max: 1440, min: 10, step: 5 %>
      <button type="button" class="btn btn-info btn-sm btn-all-day">
        <%= model_class.human_attribute_name(:all_day) %>
      </button>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :diff_level, :class => 'control-label' do %>
      <%= model_class.human_attribute_name(:diff_level) %>
    <% end %>
    <div class="controls">
      <%= f.select(:diff_level, Timestamp::DIFF_LEVELS, {include_blank: true}) %>
    </div>
  </div>
  <% if current_user.can_manage? %>
    <div class="form-group">
      <%= f.label :assignee, :class => 'control-label' do %>
        <%= model_class.human_attribute_name(:assignee) %>
      <% end %>
      <div class="controls">
        <%= f.select(:assignee, current_user.others_list.map{|m| m.push({disabled: true })}, {include_blank: true}, { multiple: 'multiple', class: 'assignee-selector', 'data-placeholder': t('.assignee_placeholder')})%>
      </div>
    </div>
  <% end %>
  <br />
  <div class="form-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :cols => "70", :rows => "4", :class => 'form-control' %>
    </div>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary inline' %>
<% end %>

<!-- Modal -->
<%
  @notes = Project.is_active.sorted_organization_activities.with_notes
%>
<div class="modal fade" id="modal_notes" tabindex="-1" role="dialog" aria-labelledby="modal_notes_label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('.modal.close') %>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_notes_label"><%= t('.modal.title') %></h4>
      </div>
      <div class="modal-body">
        <% if @notes.present? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:project) %></th>
                <th><%= model_class.human_attribute_name(:activity_id) %></th>
                <th><%= model_class.human_attribute_name(:notes) %></th>
              </tr>
            </thead>
            <tbody>
              <% @notes.each do |project| %>
                <tr>
                  <td><%= project.full_name %></td>
                  <td></td>
                  <td><%= project.notes %></td>
                </tr>
                <% if project.activities.present? %>
                  <% project.activities.each do |activity| %>
                    <tr>
                      <td><%= project.full_name %></td>
                      <td><%= activity.full_name %></td>
                      <td><%= activity.notes %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>
            <%= t('.modal.no_notes') %>
          </p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('.modal.close') %></button>
      </div>
    </div>
  </div>
</div>
