<% title t('.title') %>

   <div class="col-sm-4">
 		<ul class="standard admin-list">
      <li>
       <%= link_to 'Groups', admin_groups_path %>
      </li>
      <li>
       <%= link_to 'Organizations', admin_organizations_path %>
      </li>
      <li>
       <%= link_to 'Projects', admin_projects_path %>
      </li>
      <li>
       <%= link_to 'Project Types', admin_project_types_path %>
      </li>
      <li>
       <%= link_to 'Stages', admin_stages_path %>
      </li>
      <% if current_user.role? User::ROLES[:admin] %>
   			<li>
         <%= link_to t('.users'), admin_users_path %>
        </li>
   			<!--li>
         <%= link_to t('.pages'), admin_pages_path %>
        </li-->
      <% end %>
 		</ul>
  </div>
