<% title t('.title', date: @date_formatted) %>

  <%= form_tag summary_date_path, method: 'get' do %>
    <div class="row" id="date-pickers">
      <div class="col-xs-3">
        <%= label_tag :timestamp_date, t('.label_date') %>
        <%= text_field_tag :timestamp_date, params[:timestamp_date], size: 14 %>
      </div>
      <div class="col-xs-3 hide-checkbox">
        <% flag = params[:active_projects] %>
        <input type="hidden" name="active_projects" value="<%= flag %>" id="active_projects_value"/>
        <input type="checkbox" value="<%= flag %>"<%= " checked=#{flag}" if flag %> id="active_projects_checkbox"/>
        <%= label_tag :active_projects_checkbox, t('.label_active_projects') %>
      </div>
      <div class="col-xs-3 hide-checkbox">
        <% flag = params[:active_users] %>
        <input type="hidden" name="active_users" value="<%= flag %>" id="active_users_value"/>
        <input type="checkbox" value="<%= flag %>"<%= " checked=#{flag}" if flag %> id="active_users_checkbox"/>
        <%= label_tag :active_users_checkbox, t('.label_active_users') %>
      </div>
      <div class="col-xs-3">
        <%= submit_tag t('.label_submit'), class: 'btn btn-default btn-sm btn-success' %>
      </div>
    </div>
  <% end %>

<% if @timestamps.present? %>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-tabs-mod" role="tablist">
    <li role="presentation" class="active"><a href="#projects" data-id="projects" aria-controls="projects" role="tab" data-toggle="tab"><%= t('tabs.project') %></a></li>
    <li role="presentation"><a href="#activities" data-id="activities" aria-controls="activities" role="tab" data-toggle="tab"><%= t('tabs.activity') %></a></li>
    <li role="presentation"><a href="#table" data-id="table" aria-controls="table" role="tab" data-toggle="tab"><%= t('tabs.table') %></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active tab-pane-mod" id="projects">
      <div class="pie-chart" id="projects-pie-chart" style="min-height: 500px; margin: 0 auto;"></div>

      <hr />

      <div class="bar-chart" id="projects-bar-chart" style="min-height: 500px; margin: 0 auto;"></div>

    </div>

    <div role="tabpanel" class="tab-pane fade tab-pane-mod" id="activities">
      <div class="pie-chart" id="activities-pie-chart" style="min-height: 500px; margin: 0 auto;"></div>

      <hr />

      <div class="bar-chart" id="activities-bar-chart" style="min-height: 500px; margin: 0 auto;"></div>

    </div>

    <div role="tabpanel" class="tab-pane fade tab-pane-mod" id="table">

      <%= render :partial => 'timestamps/table_notes' %>

    </div>
  </div>


<% else %>

  <p class="alert alert-warning">
    <%= t('.no_hours', date: @date_formatted) %>
  </p>

<% end %>
