<% if @timestamp.present? %>
<% title t('.title') %>


  <%= render :partial => 'timestamps/form' %>

  <% if @timestamps.present? %>
    <div id="bar-chart" style="height: 200px; margin: 0 auto"></div>

    <h2>
      <%= t('.header_today') %>
    </h2>

    <%= render :partial => 'timestamps/table' %>

    <hr />

    <%= render :partial => 'timestamps/table_notes' %>

  <% end %>
<% else %>
  <% title t('.title_no_role') %>

  <p>
    <%= t('.explanation_no_role') %>
  </p>

<% end %>