<% if @timestamp.present? %>
  <div class="page-header">
    <h1><%= t('.title') %></h1>
  </div>


  <%= render :partial => 'timestamps/form' %>

  <% if @timestamps.present? %>
    <div id="bar-chart" style="height: 200px; margin: 0 auto"></div>

    <h2>
      <%= t('.header_today') %>
      <%= link_to t('.header_link'), timestamps_path, :class => 'btn btn-info' %>
    </h2>

    <%= render :partial => 'timestamps/table' %>

  <% end %>
<% else %>
  <div class="page-header">
    <h1><%= t('.title_no_role') %></h1>
  </div>


  <p>
    <%= explanation_no_role %>
  </p>

<% end %>