<% if @timestamp.present? %>
<% title t('.title') %>


  <%= render :partial => 'timestamps/form' %>

  <% if @timestamps.present? %>

    <h2>
      <%= t('.header_today') %>
    </h2>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-mod" role="tablist">
      <li role="presentation" class="active"><a href="#projects" data-id="projects" aria-controls="projects" role="tab" data-toggle="tab"><%= t('tabs.project') %></a></li>
      <li role="presentation"><a href="#activities" data-id="activities" aria-controls="activities" role="tab" data-toggle="tab"><%= t('tabs.activity') %></a></li>
      <li role="presentation"><a href="#table" data-id="table" aria-controls="table" role="tab" data-toggle="tab"><%= t('tabs.table') %></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active tab-pane-mod" id="projects">

        <div class="bar-chart" id="projects-bar-chart" style="min-height: 200px; margin: 0 auto;"></div>

      </div>

      <div role="tabpanel" class="tab-pane fade tab-pane-mod" id="activities">

        <div class="bar-chart" id="activities-bar-chart" style="min-height: 200px; margin: 0 auto;"></div>

      </div>

      <div role="tabpanel" class="tab-pane fade tab-pane-mod" id="table">

        <%= render :partial => 'timestamps/table_notes' %>

      </div>
    </div>

  <% end %>
<% else %>
  <% title t('.title_no_role') %>

  <p>
    <%= t('.explanation_no_role') %>
  </p>

<% end %>